#root {
  background-color: aqua;
  display: flex;
  height: 100vh;
  max-width: 1280px;
  width: 100vw;
}

.search-div {
  align-items: center;
  display: flex;
  height: 10vh;
  padding-left: 1rem;
}

#close-show-country {
  visibility: hidden;
}

.container {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 80vh;
  width: calc(100vw - 2rem);
  text-align: center;
}

.container div {
  max-height: 40vh;
}

.country-list {
  align-items: center;
  display: flex;
  padding-left: 1rem;
}

ul {
  text-align: left;
}

.flag-info {
  grid-column: 2;
  grid-row: 1;
}

.flag-img {
  height: 50%;
  padding-top: 1.5rem;
}

.weather-info * {
  margin: 0.5rem 0;
}

@media screen and (min-width: 700px) {
  .container {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 80vh;
    width: calc(100vw - 2rem);
    text-align: center;
  }

  .container div {
    max-height: 80vh;
  }
}
