#root {
  background-color: aqua;
  display: flex;
  height: 100vh;
  max-width: 1280px;
  padding: 1rem;
  width: 100vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-div {
  align-items: center;
  display: flex;
}

#close-show-country {
  visibility: hidden;
}

.country-list {
  display: flex;
  align-items: center;
}

img {
  height: 80%;
  padding-top: 1.5rem;
}
