#root {
  display: flex;
  max-height: 100vh;
  max-width: 1280px;
  padding: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  height: 80%;
  padding-top: 1.5rem;
}
